<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kala Resturant</title>
    <link rel="stylesheet" href="./login.css" />
</head>
<body>
    <section class="flex justify-center items-center h-screen p-2.5 bg-gray-200">
        <div class="w-1/2 min-h-96 rounded-3xl grid grid-cols-2 shadow-lg shadow-black-100">
            <div id="page1" class="p-4 bg-red-500 text-white flex flex-col gap-3 items-center justify-center rounded-l-3xl">
                <h1 class="text-center text-2xl font-bold">Welcome To Kala Kitchen</h1>
                <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit repellat beatae inventore vitae ab aliquam </p>
            </div>
            <div id="page2" class="p-4 py-7 flex flex-col items-center gap-4 bg-white rounded-r-3xl">
                <h1 class="text-3xl font-bold mb-4">Sign in</h1>
                <div class="mb-2">
                    <img src="" alt="" class="border rounded-full" width="80px" height="80px">
                </div>
                <input type="text" placeholder="Worker name" class="rounded-2xl bg-gray-300 h-8 w-10/12 p-3.5">
                <input type="text" placeholder="Worker password" class="rounded-2xl bg-gray-300 h-8 w-10/12 p-3.5">
                <p>Read guide</p>
                <button class="bg-red-500 px-14 py-2 text-white rounded-full font-bold cursor-pointer">Sign in</button>
            </div>
        </div>
    </section>
</body>
</html>